<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192908009452-m6j6oelfpddgju39bh25fleu2vo4a9i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192908009452-m6j6oelfpddgju39bh25fleu2vo4a9i5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192908009452-hr3a9q9ocgnkqusoqpoa8rct9ng06jbu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUXjuob2GnSf5xv-QebMNdavL6URUHXyA</string>
	<key>GCM_SENDER_ID</key>
	<string>192908009452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>may.f.coffemate</string>
	<key>PROJECT_ID</key>
	<string>approh-274c5</string>
	<key>STORAGE_BUCKET</key>
	<string>approh-274c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192908009452:ios:5ceb165eb4a83748892ac9</string>
	<key>DATABASE_URL</key>
	<string>https://approh-274c5.firebaseio.com</string>
</dict>
</plist>